:root{
  --main-bg-color: lightgray;/*background color*/
}



* {
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 50rem)
    {
      body {
        background-color: gray;/*turns background gray if small screen because*/
      }
    }
  @media (min-width: 50rem)
  {
    body {
      background-color: var(--main-bg-color);
    }
  }
header {
  color: #555555;
  height: 35px;
  padding: 5px;
}

h1{ 
  color: green;
  background-color: var(--main-bg-color);

  margin-top: .2em;
  margin-left: .2em;
  margin-right: .2em;
  margin-bottom: .2em;

  padding-top: .3em;
  padding-left: .3em;
  padding-right: .3em;
  padding-bottom: .3rem;

  border-style: solid;
  border-color: green;
  border-width: .2vw;
  border-radius: .75vw;

  display: inline-block;

  position: sticky;
  top: 20px;
}

h1 + h2 {
  color: hsl(5, 10%, 15%);

  width: 90px;

  margin: .2cm .2cm .2cm .2cm;
  padding: .3em .3em .3em .3em;

  border-style: solid;
  border-color: green;
  border-width: .2vw;
  border-radius: .75vw;
  display: block;
}

ol:has(li) {
  max-width: 200px;
  min-width: 100px;;
  border: solid darkblue .2px;
  & li:hover {
    border: solid darkblue .2px;
  }
}

section{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

h3{
  color: color(sRGB .2 .225 .25);
  margin: auto;
  align-self: auto;
}

#list {
  border: solid darkblue .2pt;
  text-align: justify;
  text-decoration: solid;
}

#list strong {
  text-decoration: line-through;
}

details:active {
  box-shadow: 2px 2px 5px #fc894d;
  border: solid #fc894d 2px;
}

fieldset label {
  color: black;
  text-decoration: solid;
} 

fieldset > input {
  color: black;
  text-decoration: solid;
}


fieldset.container {
  display: grid;
  grid-template-rows: repeat(3, 20px [col]);
  grid-template-columns: repeat(2, 20px [row])
}

.favoriteCharacter {
  grid-column-start: col 1;
  grid-row-start: row 1;
  border: lightgray 2px solid;
  margin: auto;
}

.favoriteCharacterWhy {
  grid-column-start: col 2;
  grid-row-start: row 1;
  border: lightgray 2px solid;
  margin: auto;

}

.readOrEnjoyed {
  grid-column-start: col 3;
  grid-row-start: row 1;
  border: lightgray 2px solid;
  margin: auto;

}

.controversialOpinion {
  grid-row-start: row 2;
  grid-column-start: col 1;
  border: lightgray 2px solid;
  margin: auto;

}

.info {
  grid-row-start: row 2;
  grid-column-start: col 2;
  border: lightgray 2px solid;
  margin: auto;

}

.submitButton {
  grid-row-start: row 2;
  grid-column-start: col 3;
  border: lightgray 2px solid;
  margin: auto;

}

a[href]
{
  color: coral;
}

summary ~ p {
  text-decoration: underline;
}
